.main {
    background:#f2f2f2;
}

.color1 {
    text-align: justify;
    background: #DCDCDC;

}

.color2 {
    text-align: justify;
    background: #ACC1F1;
}

aside {
    text-align: justify;
    background:#c0392b;
    color:#fff;
}

footer{
    width: 100%;
    background:#333;
    color: white;
}