body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.jumbotronBack{
  background-image: url("../images/homeimage2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 1%;
  color:white;
}

input.form-fixer {
  padding: 1px;
  font-size: 12px;
}

.form-horizontal .form-group input,
.form-horizontal .form-group select,
.form-horizontal .form-group label
{
  height: 8px;
  line-height: 8px;
}
